@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  margin: 0;
  background-color: #cc9933;
}

body header {
  width: 800px;
  margin: 0 auto;
  margin-top: 1vw;
  background-color: #fff;
  padding: 1vw;
}

body header #burger {
  display: none;
}

body header ul {
  margin: 1vw;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

body header ul a {
  color: #cc9933;
  text-decoration: none;
}

body header ul a::after {
  content: "";
  display: block;
  width: 0%;
  height: 0.3vw;
  background-color: #cc9933;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body header ul a:hover {
  color: #993300;
}

body header ul a:hover::after {
  width: 100%;
  background-color: #993300;
}

body main {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 1vw;
  background-color: #fff;
  padding: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main h1 {
  color: #cc6633;
  font-size: 1.75em;
  text-align: center;
}

body main h2 {
  color: #993300;
  font-size: 1.25em;
  text-align: center;
}

body main img {
  width: 100%;
  height: auto;
}

body main cite {
  padding: 1vw;
  color: #996633;
}

@media only screen and (max-width: 840px) {
  body header {
    width: 90%;
  }
  body header input + label {
    position: absolute;
    top: 20px;
    right: 10%;
    height: 20px;
    width: 20px;
    z-index: 5;
  }
  body header span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #cc9933;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  body header span:first-child {
    top: 3px;
  }
  body header span:last-child {
    top: 16px;
  }
  body header label:hover {
    cursor: pointer;
  }
  body header input:checked + label span {
    opacity: 0;
    top: 50%;
  }
  body header input:checked + label span:first-child {
    opacity: 1;
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  body header input:checked + label span:last-child {
    opacity: 1;
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
  body header input ~ nav {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 92%;
    margin-left: 4%;
    padding: 0;
    height: 64px;
    z-index: 3;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    overflow: hidden;
  }
  body header input ~ nav {
    position: absolute;
    right: 20%;
  }
  body header input ~ nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header input ~ nav li {
    list-style-type: none;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  body header input ~ nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #cc9933;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 30px;
    width: 15%;
  }
  body header input:checked ~ nav {
    height: 100%;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  body header input:checked ~ nav li {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  body main {
    width: 90%;
    margin-top: 4vh;
  }
}
/*# sourceMappingURL=style.css.map */